


.row {
  background-color: white;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid black;
  height: 100%;
}

.btn {
  margin-left: auto;
}

.patients-list-block{
  height: 85%;
  padding: 15px 15px 0 15px;
  overflow-y: auto;
}

input {
  border-color: black;
  border-width: 2px;
  border-radius: 0;
}
