<div class="container">

  <div class="header sticky-top">

    <div class="row align-items-center">

      <input type="text" class="col-7 form-control" [(ngModel)]="searchPatientText"
             placeholder="Search" aria-describedby="inputGroup-sizing-default">

      <a class="col-4 btn btn-outline-dark" routerLink="/patient/create" role="button">Add patient</a>
    </div>
  </div>

  <div class="patients-list-block">
    <app-patient-list-item *ngFor="let patient of patients | filter : searchPatientText" [patient]="patient">
    </app-patient-list-item>

    <small *ngIf="patients.length==0">No patients</small>

  </div>


</div>
