<div class="row align-items-center justify-content-between container">


  <div class="row col-4 justify-content-start">

    <div *ngIf="patient; else newPatient">
      <strong>{{patient.firstName}} {{patient.lastName}}</strong>
    </div>

    <ng-template #newPatient>
      <strong>New Patient</strong>
    </ng-template>
  </div>

  <div class="row col-4 justify-content-end">

    <button class="col-4 btn btn-outline-dark" type="button" (click)="onSavePatientClick()">Save</button>

    <button class="col-4 btn btn-outline-dark" role="button" (click)="goBack()">Cancel</button>
  </div>

</div>
