<div class="container">
  <app-patient-details-header [patient] = "patient"></app-patient-details-header>

  <div>
    <p><span>Date of birth: </span>{{patient.birthDate | date}}</p>
    <p *ngIf="patient.sex=='MALE'; else female"><span>Sex: </span>Male</p>

    <ng-template #female>
      <p><span>Sex: </span>Female</p>
    </ng-template>

    <p><span>Country: </span>{{patient.country}}</p>
    <p><span>State: </span>{{patient.state}}</p>
    <p><span>Address: </span>{{patient.address}}</p>
  </div>

</div>
