.container{
  min-width: 950px;
  height: 100%;
}

.main-content{
  padding: 15px;
}

.patient-details{
  padding-top: 15px;
  padding-bottom: 15px;
}

.patient-info{
  padding-top: 5px;
  padding-bottom: 5px;
}

hr{
  background-color: #363636;
  margin: 5px 0 0 0;
}

alert{
  position: absolute;
  top: 0;
  right: 0;
}
