<div class="container">

  <div class="row align-items-center sticky-top listHeaderBlock">

    <input type="text" class="col-7 form-control" [(ngModel)]="searchPatientText"
           placeholder="Search" aria-describedby="inputGroup-sizing-default">

    <a class="col-4 btn btn-outline-dark" routerLink="/patient/create" role="button">Add patient</a>
  </div>

  <hr/>

  <div>
    <app-patient-list-item *ngFor="let patient of patients | filter : searchPatientText" [patient]="patient">
    </app-patient-list-item>
  </div>


</div>
