<div class="container">

  <app-patient-create-header [patient]="patient"></app-patient-create-header>

  <hr/>

  <section class="patient-details">
    <form novalidate [formGroup]="patientForm" (ngSubmit)="onSubmit()">
      <fieldset>

        <div class="row form-group">
          <strong class="col-2">First Name:</strong>
          <input type="text" class="col-4 form-control form-control-sm" formControlName="firstName"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row form-group">
          <strong class="col-2">Last Name:</strong>
          <input type="text" class="col-4 form-control form-control-sm" formControlName="lastName"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row form-group">
          <strong class="col-2">Date of birth:</strong>
          <input type="date" class="col-4 form-control form-control-sm" formControlName="birthDate"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row form-group">
          <strong class="col-2">Sex:</strong>

          <div class="col-4">

            <label class="radio-inline">
              <input type="radio" class="radio-btn" name="sex" formControlName="sex" value="MALE" checked>Male
            </label>

            <label class="radio-inline">
              <input type="radio" class="radio-btn" name="sex" formControlName="sex" value="FEMALE">Female
            </label>


          </div>

        </div>

        <div class="row form-group">
          <strong class="col-2">Country:</strong>
          <input type="text" class="col-4 form-control form-control-sm" formControlName="country"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row form-group">
          <strong class="col-2">State:</strong>
          <input type="text" class="col-4 form-control form-control-sm" formControlName="state"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row form-group">
          <strong class="col-2">Address:</strong>
          <input type="text" class="col-4 form-control form-control-sm" formControlName="address"
                 aria-describedby="inputGroup-sizing-default">
        </div>

      </fieldset>

    </form>
  </section>

</div>


