.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px 15px 30px;
}

.patient-details{
  flex: 30%;
  height:500px;
}

.comments-block{
  flex: 70%;
}

.patient-info{
  padding-top: 5px;
  padding-bottom: 5px;
}



alert{
  position: absolute;
  top: 0;
  right: 0;
}
