<div class="container">

  <div class="header">
  <app-patient-details-header [patient]="patient"></app-patient-details-header>
  </div>

  <div class="row main-content">

    <div class="patient-details">

      <div class="row patient-info">
        <strong class="col">Date of birth: </strong>
        <div class="col">{{patient.birthDate | date}}</div>
      </div>

      <div class="row patient-info">
        <strong class="col">Sex: </strong>
        <div class="col" *ngIf="patient.sex=='MALE'; else female">Male</div>

        <ng-template #female>
          <div class="col">Female</div>
        </ng-template>
      </div>

      <div class="row patient-info">
        <strong class="col">Country:</strong>
        <div class="col">{{patient.country}}</div>
      </div>

      <div class="row patient-info">
        <strong class="col">State:</strong>
        <div class="col">{{patient.state}}</div>
      </div>

      <div class="row patient-info">
        <strong class="col">Address:</strong>
        <div class="col">{{patient.address}}</div>
      </div>

    </div>



    <div class="comments-block">
      <app-comments-block></app-comments-block>

    </div>

  </div>


  <alert class="sticky-top"></alert>


</div>
