.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.side {
  height: 100%;
  flex: 30%;
}

.vl{
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1%;
  border-left: 3px solid black;

}
.main {
  height: 100%;
  flex: 69%;
}

main{
  height: 100%;
}
