.patient-list-item{
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: rgba(187, 180, 180, 0.5);
  padding: 10px 0px 10px 0px;
}

.patient-list-item:hover {
  background-color: rgba(114, 114, 114, 0.51);
}

.patient-list-item:active {
  background-color: rgba(77, 182, 172, 0.51);
}

#patient-name{
  font-size: larger;
  font-weight: bolder;
  color: #e0f2f1;
}

small{
  color: #848484;

}
img{
  width: 24px;
  height: 24px;
}
