.patient-details-header{
  padding: 25px 30px 25px 30px;
  background-color: white;

}
.btn{
  border-width: 2px;
  border-radius: 0px;
  margin-left: auto;
}

strong{
  font-weight: bolder;
  font-size: x-large;
}
