.container{
  background-color: #d5d5d5;
  border: 2px solid;
  padding: 15px;
  height: 100%;
  position: relative;
}

.title{
  padding: 0 15px 0 15px;
  height: 10%;
}

.comments-list{
  margin-bottom: 15px;
  overflow-y: auto;
  height: 80%;
}

.input-block{
  height: 10%;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

strong{
  font-size: x-large;
}
